# Project exclude paths
/dispatcher/target/
/dispatcher/src/main/resources/application.properties
/dispatcher/src/main/resources/log4j.properties
/.idea/
/logs/
/common-rabbitmq/target/
/node/src/main/resources/application.properties
/node/src/main/resources/log4j.properties
/node/target/classes/application.properties
/node/target/classes/log4j.properties
/node/target/
/node/logs/node.log
